Wave==0.0.2
numpy==1.23.5
PyAudio==0.2.13
sounddevice==0.4.6
PyQt5==5.15.9
matplotlib==3.7.1
librosa==0.10.0.post2
torch==2.0.0+cu118
termcolor==2.3.0
Levenshtein==0.21.0
typeguard==2.13.3
resampy==0.4.2
soundfile==0.12.1
scipy==1.10.1
pydub==0.25.1
tqdm==4.65.0
zhconv==1.4.3
Pillow==9.4.0
torchaudio==2.0.1+cu118
cn2an==0.5.19
PyYAML==6.0